<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <div class="container">
        <h5 class="font-weight-normal px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">Booking List</h5>

        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="startDatefilter">Start Date</label>
            <input type="text" class="form-control" id="startDatefilter" maxlength="10">
        </div>

            <div class="form-group col-md-6">
                <label for="endDatefilter">End Date</label>
                <input type="text" class="form-control" id="endDatefilter" maxlength="10">
            </div>
        </div>


        <table  id="appointmentList" class="table table-hover" style="width:100%">
        <thead>
        <tr>
            <th scope="col">Appointment Reference</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Requested Number of Weeks</th>
            <th scope="col">Estimated Start Date</th>
            <th scope="col">Status</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment: ${appointmentList}">
            <td><a class="btn btn-link"  th:text="${appointment.appointmentReference}" th:href="@{${T(com.example.hyperlearner.util.AppConstants).TH_VIEW_BOOKING_DETAIL_LINK}+${appointment.appointmentId} }"></a></td>
            <td th:text="${appointment.firstName}" />
            <td th:text="${appointment.lastName}" />
            <td th:text="${appointment.email}" />
            <td th:text="${appointment.phoneNumber}" />
            <td th:text="${appointment.numberOfWeeks}" />
            <td th:text="${appointment.startDate}" />
            <td th:text="${appointment.status}" />
        </tr>
        </tbody>
        </table>

    </div>

</div>


<th:block layout:fragment="scripts">


    <script>

        $('#startDatefilter').datepicker({
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });

        $('#endDatefilter').datepicker({
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });



        $.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
                var startDate = new Date($('#startDatefilter').val()) || 0;
                var endDate = new Date($('#endDatefilter').val()) || 0;
                var date =  new Date( data[6] );
               if((startDate <= date && date <= endDate) ||( isNaN( startDate ) && isNaN( endDate )) || (isNaN(startDate) &&  date <= endDate) || (startDate <= date &&  isNaN( endDate)) ){
                   return true;
               }
                return false;
            }
        );



        $(document).ready(function() {
            var appointmentTable = $('#appointmentList').DataTable({
                "columnDefs": [
                    {
                        "targets": [ 7 ],
                        "visible": false,
                        "searchable": false
                    }
                    ],
                "createdRow": function ( row, data, index ) {
                    if ( data[7].replace(/[\$,]/g, '') * 1 === 2 ){
                        $(row).addClass("table-success");
                    }
                }



            });
            $('#startDatefilter, #endDatefilter').keyup( function() {
                appointmentTable.draw();
            } );
        } );
    </script>



</th:block>

</body>
</html>