<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <div class="container">
        <h5 class="font-weight-normal px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">Something went wrong!!</h5>



        <div class="alert alert-danger alert-dismissible fade show" role="alert">

            <strong>Error!</strong>
           Please contact the developers if this page shows up!!
        </div>

    </div>


</div>

</body>
</html>

