<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
</head>
<body>

<div layout:fragment="page_content" id="page_content">
    <div class="container">

<iframe src="//lightwidget.com/widgets/ed81a65405fb55e29cda078cb14d286d.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>


    </div>

</div>




<th:block layout:fragment="scripts">
    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
</th:block>
</body>





</html>